html {
    box-sizing: border-box;
    font-size: 16px;
    
    font-family: sans-serif;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body{
    max-width: 50rem;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: rgb(25, 23, 23);
    color:rgb(194, 194, 182);
    border-radius: 1% / .5%;
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.5);
}

.profile-name{
    display: flex;
    align-items: center;
}

.profile-name div{
    margin-left: 2rem;
}

.profile-name div h1{
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.profile-name div h2{
    margin-top: 0rem;
    padding-top: 0rem;
    font-weight: 100;
    font-size: medium;
    font-style: italic;
}

.image-profile{
    max-width: 150px;
    border-radius: 5% / 3.75%;
}

h2 {
    margin-top: 2rem;
}

@media (max-width: 600px) {
    body {
        background-color: rgb(25, 23, 23);
        color:rgb(194, 194, 182);
        max-width: 100%;
        padding: 1rem;
        margin: 0 auto;
        box-shadow: none;
    }

    .image-profile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: medium;
    }
    

    .profile-name {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-name div {
        margin-left: 0;
        margin-top: 1rem;
    }

    .aptitude {
        flex-direction: column;
    }

    .aptitude ul:first-child {
        margin-bottom: 0;
    }
    .aptitude ul:last-child {
        margin-top: 0;
    }

    .formation {
        flex-direction: column;
    }

    .formation ul:first-child {
        margin-bottom: 0;
    }

    .formation ul:last-child {
        margin-top: 0;
    }

    .skills {
        flex-direction: column;
    }

    .skills ul:first-child {
        margin-bottom: 0;
    }

    .skills ul:last-child {
        margin-top: 0;
    }

    .experience {
        flex-direction: column;
    }

    .experience ul:first-child {
        margin-bottom: 0;
    }

    .experience ul:last-child {
        margin-top: 0;
    }

    footer ul {
        flex-direction: column;
    }
}

.personal-data {
    background-color: rgb(12, 12, 12);
    border-radius: 1%;
    padding: .2rem 0rem;
}

.aptitude {
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    border-radius: 1%;
}

.aptitude ul {
    flex: 1;
}

.formation {
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    border-radius: 1%;
    padding-right: .5rem;
}

.formation h3 {
    padding-bottom: 0rem;
    margin-bottom: .2rem;
}

.formation ul {
    flex: 1;
}

.skills {
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    border-radius: 1%;
}

.skills ul{
    flex: 1;
}

.languages {
    background-color: rgb(12, 12, 12);
    border-radius: 1%;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.experience {
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    border-radius: 1%;
    padding-right: .5rem;
}

.experience h3 {
    padding-bottom: 0rem;
    margin-bottom: .5rem;
}

.experience ul{
    flex: 1;
}

.experience li {
    margin-bottom: 5rem;
}

.date {
    font-size: 12px;
    font-style: italic;
    display: block;
}

footer {
    display: flex;
    align-items: center;
    min-height: 100px;
    background-color: rgb(12, 12, 12);
    border-radius: 1%;
    margin-top: 2rem;
    
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-between; 
    align-items: center;
    margin: 2rem;
    padding: 0;
    width: 100%;
}

footer ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: .4rem .6rem;
}

footer ul li a span {
    color: rgb(194, 194, 182);
    margin-right: 0.5rem;
}

footer ul li a:hover {
    background-color: rgb(25, 23, 23);
    border-radius: 1%;
}

.icon {
    width: 20px;
    height: 20px; 
    border-radius: 50%;
}



