html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body{
}

.image-profile{
    width: 20%;
    border-radius: 100%;
}

.icon{
    width: 3%;
    border-radius: 100%;
}