html {
    box-sizing: border-box;
    font-size: 16px;
    
    font-family: sans-serif;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body{
    margin: 2.5rem 5rem;
    padding: 1rem 2rem;
    background-color: rgb(25, 23, 23);
    color:rgb(194, 194, 182);
    border-radius: 1%;
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.5);
}

.profile-name{
    display: flex;
    align-items: center;
}

.profile-name div{
    margin-left: 2rem;
}

.profile-name div h1{
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.profile-name div h2{
    margin-top: 0rem;
    padding-top: 0rem;
    font-weight: 100;
    font-size: medium;
    font-style: italic;
}

.image-profile{
    max-width: 150px;
    border-radius: 5% / 3.75%;
}

h2 {
    margin-top: 2rem;
}

.aptitude {
    display: flex;
}

.formation {
    display: flex;
}

.formation h3 {
    padding-bottom: 0rem;
    margin-bottom: .2rem;
}

.skills {
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    min-height: 100px;
    background-color: rgb(12, 12, 12);
    border-radius: .5% / 5%;
    margin-top: 4rem;
}

footer ul{
    display: flex;
    list-style: none;
    margin: 0rem;
    padding: 0rem;
}

footer ul li{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

footer ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0rem;
    padding: .7rem;
}

footer ul li a span{
    color: rgb(194, 194, 182);
    margin-right: .5rem;
}

footer ul li a span:hover{
    color: rgb(229, 229, 214);
}


.icon{
    width: 10%;
    border-radius: 100%;
}